main[title="planner"] {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

main[title="planner"] section {
  width: 100%;
}

main[title="planner"] > section > button {
    display: block;
    margin: 0 auto 1rem auto;

    padding: 0.7rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: var(--color-text-dark);
    font-weight: bold;
    cursor: pointer;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.table-info {
  width: 100%;
  border-collapse: collapse;
  background-color: #434547;
  color: #e2e8f0;
  border-radius: 10px;
  overflow: hidden;
}

.table-info caption {
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fd9800;
  background-color: #2f3133;
}

.table-info th {
  background-color: #fd9800;
  color: black;
  padding: 0.8rem;
  border-bottom: none;
}

.table-info th,
.table-info td {
  padding: 0.8rem;
  font-size: 0.95rem;
  white-space: nowrap;
  vertical-align: center;
  text-align: center;
}

.table-info th{
  border-right: 2px solid black;
}

.table-info td{
  border-right: 1px solid rgba(255, 255, 255, 0.918);
  border-bottom: 1px solid rgba(255, 255, 255, 0.918);
}


.table-info tbody tr:last-child td {
  border-bottom: none;
}
.table-info td:last-child,
.table-info th:last-child {
  border-right: none;
}

.table-info p {
  margin: 0.25rem 0;
}

.table-info tr:hover {
  background-color: #505357;
}

.table-info button {
  margin-right: 0.5rem;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 6px;
  background-color: #fd9800;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.table-info button:hover,
main[title="planner"] > section > button:hover {
  transform: scale(1.04);
}

@media (max-width: 950px) {

  main[title="planner"] {
    padding: 1rem;
  }

  .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-info {
    min-width: 850px;
  }

  .table-info caption {
    font-size: 1.15rem;
  }

  .table-info button {
    display: block;
    width: 100%;
    margin: 0 0 0.4rem 0;
  }

}