#ende {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 1rem;

  background-color: var(--color-bg);
  color: var(--color-text);

  font-size: 1rem;
  font-weight: 600;
}

#ende a {
  color: var(--color-accent);
  text-decoration: none;
}

#ende a:hover {
  color: var(--color-accent-darker)
}