header {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1 {
  display: flex;
  justify-content: center;
  color: var(--color-accent);
  font-size: 3.75rem;
}

header nav {
  display: flex;
  gap: 10px;
}

header nav button {
  flex: 1;
  padding: 25px;

  background-color: var(--color-accent);
  color: var(--color-text-dark);

  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

header nav button:hover {
  background-color: var(--color-accent-darker)
}

@media (max-width: 950px) {

  h1 {
    font-size: 2.2rem;
    text-align: center;
    margin: 15px 0;
  }

  header nav {
    flex-direction: column;
    gap: 8px;
  }

  header nav button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

}
