.recipe-selector {
  color: var(--color-accent);
  height: 100%;
  overflow: visible;
}

.recipe-selector form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-row label {
  min-width: 220px;
}

.form-row select,
.form-row input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: var(--color-accent);
}