:root {
  margin: 7px;
  --color-bg: #0f172a;
  --color-card: #434547;
  --color-accent: #fd9800;
  --color-accent-darker: #9a5c00df;
  --color-text: #e2e8f0;
  --color-text-dark: #000;
  background-color: var(--color-bg);
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1;
  color: var(--color-accent);
}