:root {

  --color-bg: #0f172a;
  --color-card: #434547;
  --color-accent: #fd9800;
  --color-accent-darker: #9a5c00df;
  --color-text: #e2e8f0;
  --color-text-dark: #000;
  background-color: var(--color-bg);
}

.planner-layout {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.planner-top {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.planner-top > * {
  flex: 1;
}

.planner-graph {
  width: 100%;
}